<div class="form profile-editing-info ">
    <legend> New Child <a href="#" class="js-profile-editing-cancel">(cancel)</a></legend>


    <label for="dateofbirth">Date of Birth:</label>
    <div class="row-flex">
        <div style="max-width:150px;">
            {{> months selected=child.dob.month name=(childBirthMonth index)}}
        </div>

        <input type="text" value="{{child.dob.day}}" name="userDetails[children][{{index}}][dob][day]"
               placeholder="day"
               pattern="^(([0]?[1-9])|([1-2][0-9])|(3[01]))$"
               required
               class="form-control" style="width:50px;">
        <input type="text" value="{{child.dob.year}}" name="userDetails[children][{{index}}][dob][year]"
               pattern="^\d{4}$"
               required
               placeholder="year" class="form-control" style="width:100px;">
    </div>

    <label for="relationship">Relationship with You?</label>
    <input type="text" id="relationship" value="{{child.relationship}}"
           name="userDetails[children][{{index}}][relationship]" class="form-control">

<!--    <label for="sex">Sex:</label>
    <div class="form--inline">
        <label for="sex-male">Male</label>
        <input type="radio" name="userDetails[children][{{index}}][sex]" {{checkedIfEqual child.sex "male"}}
               value="male" id="sex-male"/>
        <label for="sex-male">Female</label>
        <input type="radio" name="userDetails[children][{{index}}][sex]" {{checkedIfEqual child.sex "female"}}
               value="female" id="sex-female"/>
    </div>-->
</div>