<tr class="js-option-existing">

    <input type="hidden" value="{{child.dob.month}}" name="userDetails[children][{{index}}][dob][month]">
    <input type="hidden" value="{{child.dob.day}}" name="userDetails[children][{{index}}][dob][day]">
    <input type="hidden" value="{{child.dob.year}}" name="userDetails[children][{{index}}][dob][year]">
    <input type="hidden" id="relationship" value="{{child.relationship}}"
           name="userDetails[children][{{index}}][relationship]">

    <td>{{getAge adult.dob.year}}</td>
    <td>{{child.relationship}}</td>
    <td>
        <button type="button" class="btn btn-danger btn-sm js-remove-child" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
    </td>
</tr>
