<tr class="js-option-existing">

    <input type="hidden" value="{{child.dob.month}}" name="userDetails[childs][{{index}}][dob][month]">
    <input type="hidden" value="{{child.dob.day}}" name="userDetails[childs][{{index}}][dob][day]">
    <input type="hidden" value="{{child.dob.year}}" name="userDetails[childs][{{index}}][dob][year]">
    <input type="hidden" id="relationship" value="{{child.relationship}}"
           name="userDetails[childs][{{index}}][relationship]">
    <input type="hidden" name="userDetails[children][{{index}}][sex]" value="userDetails[children][{{index}}][sex]"  />

    <th scope="row">{{index}}</th>
    <td>{{child.dob.month}}, {{child.dob.day}} {{child.dob.year}}</td>
    <td>{{child.relationship}}</td>
    <td>{{child.sex}}</td>
    <td>
        <button type="button" class="btn btn-danger btn-sm js-remove-child" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
    </td>
</tr>
